@model Resonance.Insight3.Web.ViewModels.Sample.DetailsViewModel

<div style="display: block; width: 100%;">
    <div style="clear: both; float: left; width: 100%;">
        <span class="bold">Node Type:</span> @Model.NodeType.ToString()
    </div>
    <div style="float: left; width: 33%;">
        <span class="bold">Name:</span>
        <br/>
        @Model.Name
    </div>
    <div style="float: left; width: 34%;">
        <span class="bold">Description:</span>
        <br/>
        @Model.Description
    </div>
    <div style="float: left; width: 33%;">
        <span class="bold">ID:</span>
        <br/>
        @Model.ID
    </div>
    <div style="clear: both;">&#160;</div>
</div>