@model Resonance.Insight3.Web.ViewModels.Sample.DetailsViewModel

<div style="border-bottom: solid 1px #000; padding: 6px 5px 2px 5px;">
    <span style="font-size: 130%;">@Model.Name</span> - @Model.NodeType.ToString()
</div>