<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <div class="modaltext" id="modelContent">
            This rule is an entry in the rules library and making change will be update this
            rule in all strategies withere it is applied.<br /><br />
            If you want to update this rule for all occurences, please click the <span class="bold">Confirm</span>
            button.<br /><br />
            If you do not want to effect the other instances of this rule, click the <span class="bold">Go Back</span>
            button and click the <span class="bold">Save as New Rule</span> button to create a separate instance
            of it.
        </div>
        <div class="modalborder">
        </div>
        <div class="float-right">
            <span>
                <input type="submit" value='GO BACK' onclick=" closeConfirmWindow(); " class="modalbuttongray" />
            </span>
            <span>
                <input type="submit" value='CONFIRM' onclick=" closeConfirmWindow(); " class="modalbuttonred" />
            </span>
        </div>
    </body>
</html>