<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <div class="modaltext" id="modelSuccessContent">
            This rule is an entry in the rules library and making change will be update this
            rule in all strategies withere it is applied.
        </div>
        <div class="modalborder">
        </div>
        <div class="float-right">
            <span>
                <input type="submit" onclick=" closeSuccessWindow(); " value='CONFIRM' class="modalbuttonred" />
            </span>
        </div>
    </body>
</html>