@using Resonance.Insight3.Web.Helpers
<div>
    <p>
        @this.LocalResources("SessionWarningTex") <span id="sm-countdown"></span>
    </p>
    <p>
        <a id="aContinue" >
            <span class="bold">@this.LocalResources("ClickHereText")</span>
        </a> @this.LocalResources("KeepWorkingText")
    </p>
</div>