@model Resonance.Insight3.Web.ViewModels.Application.ApplicationDetails
<script src="~/Scripts/Certona/application.js"></script>

<div style="border-bottom: solid 1px #000; padding: 6px 5px 2px 5px;">
    <span style="font-size: 130%;">@Model.Name</span> - Application
</div>