@model Resonance.Insight3.Web.ViewModels.Package.PackageDetails

<div style="border-bottom: solid 1px #000; padding: 6px 5px 2px 5px;">
    <span style="font-size: 130%;">@Model.PackageName</span> - @String.Format("{0} Location", Model.PackageType.ToString())
</div>